<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Teola Front Prototype</title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>
  <body>
    <div id="root"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <%= htmlWebpackPlugin.tags.bodyTags %>
  </body>
</html>

